@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* alignment */

.left-align {
  text-align: left
}

.right-float {
  float: right
}


/* base styles */
* {
  max-width: 800px;
  margin: auto;
  font-family: "Quicksand";
  color: #333;
}

.nc-red {
  color: #fff;
  background-color: #eb0f0f
}

/* .nc-panel {
  margin-top: 16px;
  margin-bottom: 16px
} */

.nc-container {
 
  padding: 8px 16px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  
 
}

nav:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}


/* headers */

.header1 {
  width: 100%;
  overflow: hidden;
  top: 0;
  text-align: center
}

.header2 {
  width: 100%;
  overflow: hidden;
  top: 0;
  text-align: center
}


/* components */

.articlecard, .nc-container, .nav:hover {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px hsl(0, 0%, 0%); */
  padding: 20px;   
  display: inline-block;
}